<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @bet.user_id %>
</p>

<p>
  <strong>Matches:</strong>
  <%= @bet.match_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @bet.type %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @bet.amount %>
</p>

<p>
  <strong>Wager:</strong>
  <%= @bet.wager %>
</p>

<p>
  <strong>Payout:</strong>
  <%= @bet.payout %>
</p>

<%= link_to 'Edit', edit_bet_path(@bet) %> |
<%= link_to 'Back', bets_path %>
