<% existing_bet = Bet.where(user: current_user, match: bet.match, type: bet.type, wager: bet.wager).first %>

<% if bet.match.closed? %>

  <% if existing_bet.present? %>
    <% if bet.match.complete? %>
      <% if existing_bet.payout > 0 %>
        <div class="bet_payout won">
          +<%= number_to_currency(existing_bet.payout) %>
        </div>
      <% else %>
        <div class="bet_payout lost">
          -<%= number_to_currency(existing_bet.amount) %>
        </div>
      <% end %>
    <% else %>
      <div class="locked_bet_text">
        <%= existing_bet.label %>
        <br/>
        <span class="payout_ratio">(<%= existing_bet.formatted_payout_ratio %>)</span>
      </div>
    <% end %>
  <% else %>
    <%= image_tag("lock.png", class:"lock_image") %>
  <% end %>

<% elsif existing_bet.present? %>

  <%= link_to existing_bet.remove_message, existing_bet, method: :delete %>

<% else %>

  <% if bet.is_a?(SpreadBet) %>
    <%= bet.my_spread %>
  <% end %>

  <% if bet.is_a?(OverUnderBet) %>
    <%= bet.submit_label %>
  <% end %>

  <p class="payout_ratio">
    <%= bet.formatted_payout_ratio %>
  </p>

  <div class="hidden_bet_form hidden">

    <p class="bet_title">
      <%= bet.title %>
      <span class="payout_ratio">
        <br/>(<%= bet.formatted_payout_ratio %>)
      </span>
    </p>

    <%= form_with(model: bet.becomes(Bet), local: true) do |form| %>
      <%= form.hidden_field :match_id %>
      <%= form.hidden_field :type %>
      <%= form.hidden_field :wager %>

      <div class="wager_field">
        <span class="payout_ratio hidden">
          <%= bet.payout_ratio %>
        </span>
        <p>
          Available: <span class="user_balance">$<%= current_user.balance %></span>
          <br/>Wager: $<%= form.number_field :amount, step: "any" %>
        </p>
        <p>
          To Win: $<span class="to_win_amount"><%= Bet.calculate_payout(5.0, bet.payout_ratio) %></span>
        </p>
      </div>


      <div class="actions hidden">
        <%= form.submit value: bet.submit_label %>
      </div>
    <% end %>

    <div class='bet_explanation'>
      You win if <%= bet.win_scenario %>
      <% if bet.respond_to?(:moneyback_scenario) %>
        <br/>Money back if <%= bet.moneyback_scenario %>
      <% end %>
    </div>
  </div>

<% end %>

