<%= form_with(model: tournament, local: true) do |form| %>
  <% if tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
        <% tournament.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :in_session %>
    <%= form.check_box(:in_session) %>
  </div>

  <div class="field">
    <%= form.label :show_take_home_data %>
    <%= form.check_box(:show_take_home_data) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
