<%= form_with(model: match, local: true) do |form| %>
  <p>
    <%= form.label :home_score %>
    <%= form.text_field :home_score %>

    <%= form.label :away_score %>
    <%= form.text_field :away_score %>
  </p>

  <%= submit_tag("Set winner") %>
<% end %>
