<% existing_bet = Bet.where(user: current_user, match: bet.match, type: bet.type, wager: bet.wager).first %>

<div class="<%= existing_bet.present? ? 'selected' : '' %>">

  <%= college_logo(bet.match.away_wrestler.college, size: "25x25") %>
  <%= form_with(model: bet.becomes(Bet), local: true, url: bets_pickem_path) do |form| %>
    <%= form.hidden_field :match_id %>
    <%= form.hidden_field :type %>
    <%= form.hidden_field :wager %>
    <%= form.hidden_field :amount %>

    <%= form.submit value: bet.pick_em_label %>
  <% end %>

</div>
