<h1>
  <%= @tournament.name %>
</h1>

<%= render partial: "tournament_current_match", locals: {tournament: @tournament} %>

<table>
  <thead>
    <tr>
      <th>Match</th>
      <th>Betting</th>
      <th>Winner</th>
      <th>Placed Bets</th>
      <th>Awaiting Bets</th>
    </tr>
  </thead>

  <tbody>
    <% @tournament.matches.each do |match| %>
      <tr>
				<td>
					<%= match.title %>
				</td>
				<td>
					<%= render partial: "match_status_form", locals: {match: match} %>
				</td>
				<td>
					<%= render partial: "match_winner_form", locals: {match: match} %>
				</td>
				<td>
          <% match.bets.each do |bet| %>
            <%= user_avatar(bet.user,  "25x25") %>
          <% end %>
				</td>
				<td>
          <% bet_user_ids = match.bets.map(&:user_id) %>
          <% @users.each do |user| %>
            <% unless bet_user_ids.include?(user.id) %>
              <%= user_avatar(user,  "25x25") %>
            <% end %>
          <% end %>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>
