<!DOCTYPE html>
<html>
  <head>
    <title>Wrestling</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body 
    class="display" 
    data-tournament-id="<%= @tournament.id %>" 
    data-match-id="<%= @match.present? ? @match.id : -1 %>">

    <% if !@match.present? %>
      <h1><%= @tournament.name %> is not in session</h1>
    <% end %>

    <div id="leaderboard">
      <% Leaderboard.new(@tournament).results.each do |rank, users| %>
        <div class="position">
          <span "position label"><%= rank.ordinalize %> : <%= number_to_currency(users.first[1] / 100.0) %> </span>
          <div class="users">
            <% users.each do |user, payout| %>
              <%= user_avatar(user, "50x50") %> 
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div id="leaderboard-buffer"></div>

    <% if @match.present? %>
      <div class="matchup_wrestler left" id="wrestler-<%= @home.id %>">
        <div class="avatars left">
          <% @home_bets.each do |bet| %>
            <div class="bet">
              <%= user_avatar(bet.user, "100x100") %>
              <div class="payout"></div>
            </div>
          <% end %>
        </div>
        <%= avatar(@home, size: "600x800", class: "wrestler_avatar") %><br/>
        <div class="fatality"><%= random_fatality %></div>
        <p class="wrestler_name"><%= @home.name %></p> 
      </div>

      <div class="matchup_wrestler right" id="wrestler-<%= @away.id %>">
        <div class="avatars right">
          <% @away_bets.each do |bet| %>
            <div class="bet">
              <%= user_avatar(bet.user, "100x100") %>
              <div class="payout"></div>
            </div>
          <% end %>
        </div>
        <div class="fatality"><%= random_fatality %></div>
        <%= avatar(@away, size: "600x800", class: "wrestler_avatar") %><br/>
        <p class="wrestler_name"><%= @away.name %></p>
      </div>
    <% end %>

  </body>
</html>
