<!DOCTYPE html>
<html>
  <head>
    <title>Wrestling</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'display', 'data-turbolinks-track': 'reload' %>
  </head>

  <body
    class="display"
    data-tournament-id="<%= @tournament.id %>"
    data-match-id="<%= @match.present? ? @match.id : -1 %>">


    <% if @match.present? %>
      <div id="wrestler_away">

        <%= avatar(@match.away_wrestler, size: "500x500", class: "wrestler_avatar") %><br/>

        <div class="fatality"><%= random_fatality %></div>

        <p class="wrestler_name">
          <%= @match.away_wrestler.name %>
        </p>

        <p class="wrestler_college_logo">
          <%= college_logo(@match.away_wrestler.college, size: "50x50") %>
        </p>

        <ul class="user_bets"`>
          <% @away_bets.each do |bet| %>
            <li>
              <%= user_avatar(bet.user, "100x100") %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if @match.present? %>
      <div id="wrestler_home">
        <%= avatar(@match.home_wrestler, size: "500x500", class: "wrestler_avatar") %><br/>
        <div class="fatality"><%= random_fatality %></div>
        <p class="wrestler_name">
          <%= @match.home_wrestler.name %>
        </p>
        <p class="wrestler_college_logo">
          <%= college_logo(@match.home_wrestler.college, size: "50x50") %>
        </p>
        <ul class="user_bets"`>
          <% @home_bets.each do |bet| %>
            <li>
              <%= user_avatar(bet.user, "100x100") %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <table id="leaderboard">
      <% Leaderboard.new(@tournament).results.each do |user_data| %>
        <tr>
          <td><div class="leaderboard_data"><%= user_data[:rank].ordinalize %></div></td>
          <td><div class="leaderboard_data"><%= user_avatar(user_data[:user], "50x50") %></div></td>
          <td><div class="leaderboard_data"><%= user_data[:user].display_name %></div></td>
          <td><div class="leaderboard_data"><%= number_to_currency(user_data[:balance]) %></div></td>
        </tr>
      <% end %>
    </table>
  </body>
</html>
