<!DOCTYPE html>
<html>
  <head>
    <title>Wrestling</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="display">
    <div class="matchup_wrestler left">
      <div class="avatars left">
        <% @home_bets.each do |bet| %>
          <%= user_avatar(bet.user, "150x150") %>
        <% end %>
      </div>
      <%= image_tag(@home.image_name, size: "600x800", class: "wrestler_avatar") %><br/>
      <p><%= @home.name %></p> 
    </div>

    <div class="matchup_wrestler right">
      <div class="avatars right">
        <% @away_bets.each do |bet| %>
          <%= user_avatar(bet.user, "150x150") %>
        <% end %>
      </div>
      <%= image_tag(@away.image_name, size: "600x800") %>
      <p><%= @away.name %></p>
    </div>
  </body>
</html>
