<% content_for :header do %>
  Tournaments
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @tournaments.each do |tournament| %>
      <tr>
        <td><%= tournament.name %></td>
        <td><%= link_to 'Show', tournament %></td>
        <td><%= link_to 'Administer', tournament_administer_path(tournament) %></td>
        <td><%= link_to 'Display', tournament_display_path(tournament) %></td>
        <td><%= link_to 'Edit', edit_tournament_path(tournament) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tournament', new_tournament_path %>
