<h1>
  <%= @tournament.name %>
</h1>

<p id="place_your_bets">
  Welcome <%= current_user.email %><br/><br/>Click a wrestler to place your bets
</p>

<div id="center-match-ups">
  <ul class="tournament-match-ups">
    <% @tournament.matches.each do |match| %>
      <% home, away = [match.home_wrestler, match.away_wrestler] %>

      <li class="tournament-match-up <%= match.open? ? "open" : "closed" %>" data-match-id="<%= match.id %>">

        <% bet = Bet.where(user: current_user, match: match).first %>

        <div class="home <%= bet.present? && bet.wager == "home" ? " selected" : "" %>">
          <%= render partial: "wrestler", locals: {wrestler: home} %>
        </div>

        <div class="marquee">
          <div class="voting_closed">
            voting closed
            <p>
              <%= image_tag("lock.png", size: "50x50") %><br/>
            </p>
          </div>
          <div class="wrestlers">
            <p><%= home.name %><br/>vs.<br/><%= away.name %></p>
          </div>
          <div class="voting_closed">
            <p>
              <%= image_tag("lock.png", size: "50x50") %><br/>
            </p>
          </div>
          <div class="loading">Saving your bet...</div>
        </div>

        <div class="away <%= bet.present? && bet.wager == "away" ? " selected" : "" %>">
          <%= render partial: "wrestler", locals: {wrestler: away} %>
        </div>

      </li>

    <% end %>
  </ul>

  <% if current_user.admin? %>
    <hr/>
    <%= link_to 'Edit', edit_tournament_path(@tournament) %> |
    <%= link_to 'Back', tournaments_path %>
  <% end %>
</div>
