<h1>
  Remaining Balance:
  <span id="user_balance"><%= number_to_currency(current_user.balance) %></span>
</h1>

<p id="place_your_bets">
  Welcome <%= current_user.email %>
</p>

<div id="center-match-ups">
  <ul class="tournament-match-ups">
    <% @tournament.matches.order("weight ASC").each do |match| %>
      <% away, home = [match.away_wrestler, match.home_wrestler] %>
      <li class="tournament-match-up <%= match.open? ? "open" : "closed" %>" data-match-id="<%= match.id %>">

        <h2><%= match.weight %> lbs</h2>

        <table>
          <tr>
            <th></th>
            <th>Spread</th>
            <th>Moneyline</th>
            <th>Total</th>
          </tr>

          <tr>
            <th><%= away.name %></th>
            <td class="place_bet">
              <%= away_spread(match) %>
            </td>
            <td class="away_money_line">
              <% bet = MoneyLineBet.new(match: match, wager: "away") %>
              <%= render partial: "bet_form", locals: {bet: bet} %>
            </td>

            <td>Over <%= match.over_under %></td>
          </tr>
          <tr>
            <th><%= home.name %></th>
            <td><%= home_spread(match) %> </td>
            <td>
              <% bet = MoneyLineBet.new(match: match, wager: "home") %>
              <%= render partial: "bet_form", locals: {bet: bet} %>
            </td>
            <td>Under <%= match.over_under %></td>
          </tr>
        </table>

      </li>

    <% end %>
  </ul>

  <% if current_user.admin? %>
    <hr/>
    <%= link_to 'Edit', edit_tournament_path(@tournament) %> |
    <%= link_to 'Back', tournaments_path %>
  <% end %>
</div>
