<% content_for :header do %>
  <%= current_user.email %>'s Betslip
<% end %>

<% content_for :notices do %>
  <br/>
<% end %>

<div id="center-match-ups">
  <p>
    Available Funds: 
    <span id="user_balance"><%= number_to_currency(current_user.balance) %></span> 
  </p>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <p id="instructions">
    Click on any box to start betting
  </p>

  <ul class="tournament-match-ups">

    <div id="bet_pop_up">
      <div id="bet_pop_up_content">
      </div>

      <div id="bet_pop_up_buttons">
        <button id="submit_pop_up_form">Wager!</button>
        <br/>
        <button id="close_bet_pop_up">Never mind</button>
      </div>
    </div>

    <% @tournament.matches.order("weight ASC").each do |match| %>
      <% away, home = [match.away_wrestler, match.home_wrestler] %>
      <li class="tournament-match-up <%= match.open? ? "open" : "closed" %>" data-match-id="<%= match.id %>">

        <table>
          <tr class="first_row">
            <th><%= match.weight %> lbs</th>
            <th>Spread</th>
            <th>Moneyline</th>
            <th>Total</th>
          </tr>

          <tr>
            <th><%= away.name %></th>
            <td>
              <% bet = SpreadBet.new(amount: 5.0, match: match, wager: "away") %>
              <%= render partial: "bet_form", locals: {bet: bet} %>
            </td>
            <td>
              <% bet = MoneyLineBet.new(amount: 5.0, match: match, wager: "away") %>
              <%= render partial: "bet_form", locals: {bet: bet} %>
            </td>
            <td>
              <% bet = OverUnderBet.new(amount: 5.0, match: match, wager: "over") %>
              <%= render partial: "bet_form", locals: {bet: bet} %>
            </td>
          </tr>
          <tr>
            <th><%= home.name %></th>
            <td>
              <% bet = SpreadBet.new(amount: 5.0, match: match, wager: "home") %>
              <%= render partial: "bet_form", locals: {bet: bet} %>
            </td>
            <td>
              <% bet = MoneyLineBet.new(amount: 5.0, match: match, wager: "home") %>
              <%= render partial: "bet_form", locals: {bet: bet} %>
            </td>
            <td>
              <% bet = OverUnderBet.new(amount: 5.0, match: match, wager: "under") %>
              <%= render partial: "bet_form", locals: {bet: bet} %>
            </td>
          </tr>
        </table>

      </li>

    <% end %>
  </ul>

  <% if current_user.admin? %>
    <hr/>
    <%= link_to 'Edit', edit_tournament_path(@tournament) %> |
    <%= link_to 'Back', tournaments_path %>
  <% end %>
</div>
