<% content_for :header do %>
  <%= current_user.email %>'s Betslip
<% end %>

<% content_for :notices do %>
  <br/>
<% end %>

<div id="user_id" class="hidden"><%= current_user.id %></div>

<div id="center-match-ups">
  <p>
    Available Funds:
    <span id="user_balance" class="user_balance"><%= number_to_currency(current_user.balance, precision: 2) %></span>
  </p>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <p id="instructions">
    Click on any box to start betting
  </p>

  <ul class="tournament-match-ups">

    <div id="bet_pop_up">
      <div id="bet_pop_up_content">
      </div>

      <div id="bet_pop_up_buttons">
        <button id="submit_pop_up_form">Wager!</button>
        <br/>
        <button id="close_bet_pop_up">Never mind</button>
      </div>
    </div>

    <% @tournament_presenter.matches.order("weight ASC").each do |match| %>
      <li class="tournament-match-up <%= match.open? ? "open" : "closed" %>" data-match-id="<%= match.id %>">
        <hr/>

        <% if match.complete? %>
          <p>
            <%= match.winner.name %> wins
            <%= [match.home_score, match.away_score].max %>-<%= [match.home_score, match.away_score].min %>
          </p>
        <% end %>

        <table>
          <tr class="first_row">
            <th><%= match.weight %> lbs</th>
            <th>Spread</th>
            <th>Moneyline</th>
            <th>Total</th>
          </tr>

          <tr>
            <th><%= match.away_wrestler.name %></th>
            <% @tournament_presenter.bets_for_match(match, 0).each do |bet| %>
              <td class="<%= bet.class.name.underscore %>_<%= bet.wager %>">
                <%= render partial: "bet_form", locals: {bet: bet} %>
              </td>
            <% end %>
          </tr>
          <tr>
            <th><%= match.home_wrestler.name %></th>
            <% @tournament_presenter.bets_for_match(match, 1).each do |bet| %>
              <td class="<%= bet.class.name.underscore %>_<%= bet.wager %>">
                <%= render partial: "bet_form", locals: {bet: bet} %>
              </td>
            <% end %>
          </tr>
        </table>

      </li>

    <% end %>
  </ul>

  <% if current_user.admin? %>
    <hr/>
    <%= link_to 'Edit', edit_tournament_path(@tournament) %> |
    <%= link_to 'Back', tournaments_path %>
  <% end %>
</div>
