<% content_for :header do %>
  <%= @wrestler.name %>
<% end %>

<p>
  <%= avatar(@wrestler) %>
</p>

<% if @wrestler.college.present? %>
  <p>
    <%= @wrestler.college_year %>
    <%= college_logo(@wrestler.college) %>
    <%= @wrestler.college.name %>
  </p>
<% end %>

<p>
  <strong>Bio:</strong>
  <%= @wrestler.bio %>
</p>

<%= link_to 'Edit', edit_wrestler_path(@wrestler) %> |
<%= link_to 'Back', wrestlers_path %>
<%= link_to 'New Wrestler', new_wrestler_path %>
