<h1><%= @wrestler.name %></h1>

<p id="notice"><%= notice %></p>

<p>
  <%= avatar(@wrestler) %>
</p>

<p>
  <strong>College:</strong>
  <%= @wrestler.college %>
</p>

<p>
  <strong>College year:</strong>
  <%= @wrestler.college_year %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @wrestler.bio %>
</p>

<%= link_to 'Edit', edit_wrestler_path(@wrestler) %> |
<%= link_to 'Back', wrestlers_path %>
