<p id="notice"><%= notice %></p>

<h1>Matches</h1>

<%= link_to 'New Match', new_match_path %>

<table>
  <thead>
    <tr>
      <th>Weight</th>
      <th>Home wrestler</th>
      <th>Away wrestler</th>
      <th>Over/Under</th>
      <th>Tournament</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.weight %></td>
        <td><%= match.home_wrestler.name %></td>
        <td><%= match.away_wrestler.name %></td>
        <td><%= match.over_under %></td>
        <td><%= match.tournament_id %></td>
        <td><%= link_to 'Show', match %></td>
        <td><%= link_to 'Edit', edit_match_path(match) %></td>
        <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match', new_match_path %>
