<h1>
  Match in <%= @match.tournament.name %>
</h1>

<p id="notice"><%= notice %></p>

<p>
  Home: <%= avatar(@match.home_wrestler) %>
</p>

<p>
  Away: <%= avatar(@match.away_wrestler) %>
</p>

<% if @match.winner.present? %>
  <p>
    Winner: <%= avatar(@match.winner) %>
  </p>
<% end %>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
