<% content_for :header do %>
  <%= @college.name %>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <%= college_logo(@college) %>
</p>

<%= link_to 'Edit', edit_college_path(@college) %> |
<%= link_to 'Back', colleges_path %>
<%= link_to 'New College', new_college_path %>
